<div class="container m About__container">
<div class="About">
  <div class="About__content">
    <h2 class="About__heading">{{section.settings.heading}}</h2>
    <div class="About__body">{{section.settings.body}}</div>
    <div class="About__benefits js-About__benefits-slider">
      {% for block in section.blocks %}
      <figure class="About__benefit">
        <img src="{{block.settings.image | img_url:'master'}}" alt="{{block.settings.image.alt}}">
        <figcaption>{{block.settings.label}}</figcaption>
      </figure>
      {% endfor %}
    </div>
    <div class="About__dots js-About__dots"></div>
  </div>
</div>
</div>

<script>
  $('.js-About__benefits-slider').slick({
    arrows: false,
    dots: true,
    appendDots:'.js-About__dots',
    slidesToShow: 3,
    responsive:[
      {
        breakpoint: 768,
        settings:{
          slidesToShow: 1,
          autoplay: true,
          fade: true
        }
      }
    ]
  });
</script>

{% schema %}
  {
    "name": "About",
    "class": "homepage-about",
    "settings":[
      {
        "id":"heading",
        "type":"text",
        "label":"Heading"
      },
      {
        "id":"body",
        "type":"richtext",
        "label":"Body"
      }
    ],
    "blocks":[
      {
        "type":"benefit",
        "name":"Benefit",
        "settings":[
          {
            "type":"image_picker",
            "label":"image",
            "id":"image" 
          },
          {
            "type":"text",
            "label":"Label",
            "id":"label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
