<div data-section-id="{{ section.id }}" data-section-type="page-product">

  {% assign productTextStyle = settings.product_text_style %}
  {% assign productImageFlip = settings.product_image_flip %}
  {% assign enableRelatedProducts = section.settings.enable_related_products %}
  {% assign productsPerRow = section.settings.products_in_row %}
  {% assign productColumnLayout = section.settings.product_column_layout %}
  {% assign collection = collection | default: product.collections.first %}

  {% assign variant = product.selected_or_first_available_variant %}
  {% assign columns = 'two-column' %}

  <div class="ProductPage__image-form product-wrap clearfix" itemscope itemtype="http://schema.org/Product">
    {% include 'product-images' %}
    {% include 'product-form' %}
  </div>
    {% include 'product-weight-table' %}
    {% include 'product-description' %}
    {% include 'share-buttons' %}
  <script>
    window.settingsJSON = {{ settings | json }};
    window.productJSON = {{ product | json }};
    window.FirstVariant = {{ product.selected_or_first_available_variant | json }};
    window.sectionJSON = {{ section.settings | json }};
  </script>
</div>

{% schema %}
{
  "name": "Product pages",
  "class": "section-product",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_send_to_cart",
      "label": "Enable cart redirection",
      "info": "Automatically send users to the Cart page after adding a product.",
      "default": true
    },
    {
      "type": "select",
      "id": "product_column_layout",
      "label": "Layout",
      "options": [
        {
          "value": "single-column",
          "label": "Single column"
        },
        {
          "value": "two-column",
          "label": "Double column"
        }
      ],
      "default": "single-column"
    }
  ],
  "blocks":[
    {
      "type":"weights",
      "name":"Body Weight",
      "settings":[
        {
          "type":"text",
          "label":"Body Weight",
          "id":"title",
          "info":"Bodyweight corresponding to the variant, the bodyweight must be in the same order as the variants listed on the product page"
        }
      ]
    }
  ]
}

{% endschema %}