<div data-section-id="{{ section.id }}" data-section-type="page-cart" data-cart-view="data-cart-view" class="container m">
  <h1 class="CartPage__heading">My Cart</h1>
  {%- assign shippingCalculatorDefaultCountry = section.settings.shipping_calculator_default_country | escape -%}
  <div rv-if="cart.item_count | gt 0">
    <form action="/cart" method="post">
      <div class="CartPage__cart">
        <div class="CartPage__cart-headings">
          <div class="CartPage__cart-label CartPage__column--first">{{ 'general.general.product' | t }}</div>
          <div class="CartPage__cart-label CartPage__column">{{ 'general.general.quantity' | t }}</div>
          <div class="CartPage__cart-label CartPage__column--last">{{ 'general.general.total' | t }}</div>
        </div>

        <div class="CartItems">
          <div rv-each-item="cart.items" class="CartItem">
            <div class="CartItem__info CartPage__column--first">
              <a class="CartItem__remove" rv-data-cart-remove="index | plus 1" data-cart-remove="1"><i class="fa fa-times-thin fa-2x" aria-hidden="true"></i></a>
              <a class="CartItem__image" rv-href="item.url">
                <img alt="{{ item.image.alt | escape }}" rv-src="item.image">
              </a>
              <div class="CartItem__title">
                <a rv-href="item.url">{item.title}</a>
              </div>
            </div>
            <div class="CartItem__quantity CartPage__column">
              <span rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1" class="CartItem__quantity-control cart-item-decrease">&#57365;</span>
              <input class="CartItem__quantity-control" type="text" name="updates[]" rv-value="item.quantity" size="1">
              <span rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1" class="CartItem__quantity-control cart-item-increase">&#57366;</span>
            </div>
            <div class="CartItem__total CartPage__column--last">
              <div class="money" rv-html="item.line_price | money"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="CartSummary">
        <div class="CartSummary__price">
          <div class="CartPage__column">{{ 'general.general.subtotal' | t }}</div>
          <div class="CartPage__column--last money" rv-html="cart.total_price | money"></div>
        </div>
        <div class="CartSummary__checkout-button">
          <a class="cart-checkout-button button Button Button--main" href="/checkout">{{ 'cart.submit' | t }}</a>
        </div>
        {% if additional_checkout_buttons %}
          <div class="cart-additional-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}
      </div>
    </form>
  </div>
  <div rv-if="cart.item_count | eq 0">
    <p class="cart-empty-message">{{ 'cart.empty' | t }}</p>
  </div>

  <script>
    window.sectionJSON = {{ section.settings | json }};
  </script>

</div>

{% schema %}
{
  "name": "Cart page",
  "class": "section-cart cart-page",
  "settings": [

  ]
}

{% endschema %}